<p id="notice"><%= notice %></p>

<h1>Kenneth Neaville</h1>

<h4>OppenheimerFunds Technology Associates Program (OTAP)</h4>

<h4>University of Washington (Seattle)</h4>

<%=image_tag("profile.jpg", class: "profile")%>

<h5>Full Stack Web Developer</h5>
<h5>AWS Certified Developer </h5>
<h5>DevOps Engineer </h5>
<h5>Cybersecurity Engineer</h5>

<br>

<%= link_to 'https://www.linkedin.com/in/kenneth-neaville', 'https://www.linkedin.com/in/kenneth-neaville', class: 'homeLink' %>

<% 3.times do %><br><% end %>

<%= link_to 'https://github.com/kjneaville', 'https://github.com/kjneaville',  class: 'homeLink'%>

<% 3.times do %><br><% end %>

<%= link_to 'https://github.com/kjneaville/personalwebsite', 'https://github.com/kjneaville/personalwebsite',  class: 'homeLink'%>

<% 3.times do %><br><% end %>

<%= link_to 'https://www.facebook.com/kj.neaville', 'https://www.facebook.com/kj.neaville', class: 'homeLink' %>


<% 3.times do %><br><% end %>

<%= link_to 'https://www.oppenheimerfunds.com', 'https://www.oppenheimerfunds.com', class: 'homeLink' %>

<% 3.times do %><br><% end %>

<h2>More coming soon...</h2>